

<nav class="navbar navbar-expand-lg sticky-top overflow-hidden shadow">
        
    <!-- container adapting according to width -->
    <div class="container-fluid mx-3">
        
        <!-- name and logo of website with link to home page -->
        <a class="navbar-brand" href="/">
            <!-- name of site -->
            <span class="h3 d-none d-md-inline"> 
                Habit Tracker
            </span>

        </a>
        
        <!-- hidden button visible on smaller screen  -->
        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" 
                aria-controls="navbarTogglerDemo02" aria-expanded="false" 
                aria-label="Toggle navigation">

            <!-- icon of button -->
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- div containg links for different page -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">

                    <!-- link for Home page -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <strong class="h5">Home</strong>
                        </a>
                    </li>

                    <!-- link for Favourite Hero page -->
                    <li class="nav-item">
                        <a class="nav-link" href="/my-habits">
                            <strong class="h5">Details Page</strong> 
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>