
<div class="w-100 d-flex flex-column justify-content-between align-items-center">

  <div id="addHabitContainer" class="container d-flex flex-column justify-content-around align-item bg-secondary-subtle shadow rounded mt-1 p-4">

    <div class="w-100">
        
        <nav class="navbar rounded bg-white">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    Add New Habits
                </span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Habit
                </button>
            </div>
        </nav>

    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add New Habits
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="habitForm" action="/create-habit" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Habit Name</label>
                    <input type="text" name="name" class="form-control" 
                            id="name" placeholder="Enter Name" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="habitForm" class="btn btn-primary">Add Habit</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div id="habitList" class="container mb-2 overflow-y-scroll overflow-x-hidden p-1 px-2 bg-secondary-subtle rounded shadow-sm">

  <h1 class="text-center">
    Your Habit List
  </h1>

  <% for (let i of myHabits) { %>

    <div class="w-100 h-auto d-flex justify-content-between align-items-center bg-info-subtle my-2 p-2 shadow-sm rounded fw-bold">
      <div class="px-1">
        <%= i.name %>
      </div>
      
      <div class="px-1">
        <%= i.completedDays %> / 7 Days | Today: <%= i.weeklyStatus[6] === 'true' ? 'Done' : 'Not Done' %>
      </div>

    </div>
    
  <% } %>

</div>

</div>
