
<div id="addHabitContainer" class="w-50 d-flex flex-column justify-content-around align-item bg-secondary-subtle shadow rounded mt-1 p-4">

    <div class="w-100">
        
        <nav class="navbar rounded bg-white">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    Add New Habits
                </span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Habit
                </button>
            </div>
        </nav>

    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add New Habits
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Habit Name</label>
                    <input type="text" name="name" class="form-control" 
                            id="name" placeholder="Enter Name" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Habit</button>
        </div>
      </div>
    </div>
  </div>

</div>